#dont_call_me_back + span:after {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    font-family: Icons,sans-serif;
    font-size: 20px;
    line-height: 35px;
    color: #274f43;
    border: 1px solid #274f43;
    margin: 3px 30px 3px 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

#dont_call_me_back:checked + span:after {
    content: '\E00B';
    padding: 0 0 0 6px;
}

.dont-call-me-back label {
    margin-left: 0px!important;
    margin: 0;
    font-size: 18px;
    font-family: FuturaPT,sans-serif;
    font-weight: 600 !important;
    font-style: normal;
    color: #274f43;
    text-transform: uppercase;
    padding-left: 60px;
    line-height: 42px !important;
}

.dont-call-me-back input {
    display: none !important;
}

#dont_call_me_back + span {
    position: absolute;
    left: 0;
}

.multi-theme-compact .multi-wrapper {
    margin: 1% auto !important;
}

.multi-input[type=text], .multi-input[type=text]:focus, .multi-input[type=text]:hover {
    height: 60px !important;
}

.multi-searchIcon {
    top: 5px !important;
}

.multi-closeIcon {
    top: 9px !important;
}
